<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="/static/js/localmanager.js" charset="utf-8"></script>
    <script src="/static/js/vue.2_5_16.js" charset="utf-8"></script>
    <script src="/static/js/vue-resource.1_5_0.js" charset="utf-8"></script>

</head>
<body>


<div id="id_login">
    <div v-if="is_show_tip">
        <p style="color: red;">{{tip_info}}</p>
    </div>
    <div v-if="!isLogin">
        UserName:<input type="text" name="user_name" v-model="user_name" placeholder="username">
        <br>
    </div>


    <div>
        E-mail :<input type="email" name="email" v-model="email" placeholder="email">
        <br>
        <br>
    </div>



    <div>
        PassWord :<input type="password" name="password" v-model="password" placeholder="password">
        <br>
    </div>


    <div v-if="!isLogin">

        PassWord Again :<input type="password" name="password_again" v-model="password_again"
                               placeholder="password again">
        <br>
    </div>

    <div v-if="isLogin">
        <br>
        <button v-on:click="login">Login</button>
    </div>
    <div v-else>
        <br>
        <button v-on:click="register">Register</button>
    </div>
    <br>
    <div>
        <button v-on:click="need_register">{{ln_switch}}</button>
    </div>

</div>

<script type="text/javascript">

    var loginVue = new Vue({
        el: '#id_login',
        data: {
            user_name: "",
            password: "",
            email: "",
            isLogin: true,
            ln_switch: "Go Register",
            is_show_tip: false,
            tip_info: ""
        },

        methods: {
            login: function (event) {
                if (this.email === "" || this.password === "") {
                    this.is_show_tip = true;
                    this.tip_info = "邮箱或密码不能为空"
                } else {
                    this.$http.post("/login", {"email": this.email, "password": this.password}, {emulateJSON: true})
                            .then((r) => {
                                        token = r.body["token"]
                                        window.localStorage.setItem("token", token)
                                    },
                                    (e) => {
                                        alert("<e>" + e);
                                    });
                }


            },

            need_register: function (event) {
                this.isLogin = !this.isLogin;
                if (this.isLogin) {
                    this.ln_switch = "Go Register";
                } else {
                    this.ln_switch = "Go Login";
                }

            },
            register: function (event) {
                if (this.user_name.length <= 6) {
                    alert('请输入长度大于6的用户名');
                } else if (this.password.length != this.password_again.length) {
                    alert("两次密码不一致")
                } else if (this.password.length <= 6 || this.password_again.length <= 6) {
                    alert('请输入长度大于6的密码');
                } else {
                    this.$http.post("/user", {
                        "email": this.email,
                        "username": this.user_name,
                        "password": this.password
                    }, {emulateJSON: true})
                            .then((r) => {
                                        this.is_show_tip = true;
                                        this.tip_info = r.body["describe"];
                                        token = r.body["token"]
                                        window.localStorage.setItem("token", token)

                                    },
                                    (e) => {
                                        alert("<e>" + e);
                                    });
                }
            }
        }

    })
</script>

</body>
</html>